footer {
    padding: 10px;
}

img {
    margin-bottom: 5px;
    border-radius: 30px;
}

.border {
    padding: 10px;
    margin-right: 10px;
}

.btn-dark {
    background-color: #FCE181 !important;
    color: black !important;
    border-color: #FCE181 !important;
}
.btn-dark:hover {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}