footer {
    padding: 10px;
}

h1 {
    padding-top: 10px;
}

.card {
    margin-bottom: 10px;
}

.btn-dark {
    background-color: #FCE181 !important;
    color: black !important;
    border-color: #FCE181 !important;
}

.btn-dark:hover {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}
